@model List<MvcApplication1.Models.NavMenuItem>


@if (Model != null)
{
    <ul class="topmenu">
        @foreach (var page in Model)
        {
            <li><a href="~/@page.Address">@page.Title</a></li>
        }
    </ul>
}
