@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Scripts {
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <link href="~/Scripts/bxslider-4-4.2.12/jquery.bxslider.css" rel="stylesheet">
    <script src="~/Scripts/bxslider-4-4.2.12/jquery.bxslider.min.js"></script>

<script>
    jQuery(document).ready(function () {
        jQuery('.bxslider').bxSlider(
            {
                touchEnabled: true,
                controls: true,
            });
    });
</script>

}

<div>    
    <h1>Шубин Александр Павлович</h1>

    <ul class="bxslider">
        <li><img src="/imgs/Shubin/IMG_6125.jpg"></li>
        <li><img src="/imgs/Shubin/IMG_7139.jpg"></li>
        <li><img src="/imgs/Shubin/001.jpg"></li>
        <li><img src="/imgs/Shubin/002.jpg"></li>
        <li><img src="/imgs/Shubin/003.jpg"></li>
        <li><img src="/imgs/Shubin/004.jpg"></li>
        <li><img src="/imgs/Shubin/005.jpg"></li>
    </ul>

    <div class="note">
        <h3>Заметка веб-мастера</h3>
        <p>Мы недаром выбрали для оформления сайта гравюру художника из нашего края. Во-первых, в названии компании присутствует упоминание Калуги, а во-вторых, нам показалось, что название Light Communication - световые коммуникации - отсылает к мечтам о космосе и к стремлению ввысь. Так же, как и гравюры серии "Циолковский".  </p>
    </div>


    
    <ul class="no_dots">
        <li>График, член СХ с 1975 г.</li>
        <li>Заслуженный художник России (1996г.)</li>
        <li>Родился 29 июня 1947г. в г. Симферополе.</li>
        <li>С 1957 - живет в г. Обнинске Калужской области.</li>
        <li>1970 - окончил художественно-графический факультет Орловского государственного педагогического института (диплом по графике с отличием).</li>
        <li>С 1982 - регулярно работает в творческих группах Дома российской графики "Челюскинская", в 1994 - руководил творческой группой.
            Неоднократно избирался членом правления КОСХ.</li>
        <li>1987,1988 - делегат Съездов художников России и СССР.</li>
        <li>1995-1997 - председатель Калужской организации СХ России.</li>
        <li>2009-2014 - секретарь ВТОО “Союз художников России”.</li>
    </ul>

    <h2>Награды</h2>
    <ul class="no_dots">
        <li>2012 – золотая медаль Союза художников России «Духовность, Традиции, Мастерство»</li>
        <li>2007 - диплом Российской Академии Художеств.</li>
        <li>2008 - премия Губернатора Калужской обл. «За достижения в культуре и исскустве»</li>
        <li>1993, 2000, 2007, 2015 - лауреат областной премии по изобразительному искусству им. А. Куликова.</li>
        <li>1995, 2007 - премия Городской управы г. Калуги. 1999, 2007 - премия КОСХ.</li>
        <li>1999 - медаль VII международной биеннале малых форм графики, Польша,  г. Остров-Великопольский.</li>
    </ul>

    <h2> Основные выставки последних лет</h2>
    <ul class="no_dots">
        <li>1997 - I международная квадриеналле графики (ЦДХ, г. Москва)</li>
        <li>1999,2004,2009,2014 - IX, X, ХI, ХII всероссийские выставки "Россия" (ЦДХ, г. Москва)</li>
        <li>2000 - всероссийская выставка "Имени Твоему" (к 2000-летию Рождества Христова, ЦДХ,  г. Москва)</li>
        <li>2002 - международная выставка "Искусство наций" (ЦДХ, г. Москва)</li>
        <li>2003 - IX региональная выставка "Художники центральных областей России" (г. Липецк)</li>
        <li>2004 - выставка 3-х художников "Время мастеров" (совместно с В.Н. Телиным и С.М. Харламовым)  (г. Липецк)</li>
        <li>2005 - республиканская выставка "60 лет победы" (ЦДХ г. Москва)</li>
        <li>2006 - республиканская выставка графики «Век XX- век XXI» (г. Иркутск)</li>
        <li>2008 - Х региональная выставка «Художники центральных областей России» (г. Ярославль)</li>
        <li>2008 - Всероссийская художественная выставка, посвященная 50-летию образования СХ России (ЦДХ г. Москва)</li>
        <li>2013 - ХI региональная выставка «Художники центральных областей России» (г. Липецк)</li>
        <li>2013 - Международная выставка конфедерации творческих союзов (ЦДХ, г. Москва)</li>
        <li>2014 - Арт-салон  в экспозиции СХ России (ЦДХ, г. Москва)</li>
        <li>С 1970 - участник более 70 региональных, республиканских и зарубежных выставок</li>
    </ul>

    <h2>Персональные выставки</h2>
    <ul class="no_dots">
        <li>г. Остроленка (Польша) – 1989</li>
        <li>г. Шарлот (США) - 1995</li>
        <li>г. Обнинск, г. Калуга – 1996 г., 2007 г.</li>
        <li>г. Москва, РосАвиаКосмос – 1996 г.</li>
        <li>г. Москва, НИИ культурного и природного наследия – 1999,2000 г.</li>
        <li>г. Москва, ЦДХ: "Цветной офорт" - 1998, "Русская провинция" – 2002 г.</li>
        <li>Звездный городок, Международный центр подготовки космонавтов – 2000 г.</li>
        <li>Участник международных пленеров в г. Куфштейне (Австрия) 1996-1998 г.</li>
        <li>&nbsp;</li>
        <li>Произведения находятся в собраниях 26 музеев и галерей г. Москвы, Калуги, Тулы, Орла, Иркутска, Владимира, Липецка, Калининграда, Мурома, Обнинска, а также в частных коллекциях в России и за рубежом.</li>
    </ul>

    <p>&nbsp;</p>
    <div class="center">  
        <p>г. Обнинск   Калужская обл.</p>
        <p>тел: 8(48439) 3-72-44,  8(910) 913-30-71</p>
        <p><a href="mailto:shubinart@obninsk.ru">shubinart@obninsk.ru</a></p>
    </div>






</div>