@model List<MvcApplication1.Models.NavMenuItem>


@if (Model != null)
{
    <ul class="topmenu">
        <!-- <li><a href="~/">Главная</a></li>-->
        @foreach (var page in Model.FirstOrDefault().Children)
        {
            if (page.Children.Count > 0)
            {
                <li class="has_children">
                    <a href="~/@page.Address">@page.Title &#129047;</a>
                    <ul class="submenu">
                        @foreach (var child in page.Children)
                        {
                            <li><a href="~/@page.Address/@child.Address">@child.Title</a></li>
                        }
                    </ul>
                </li>
            }
            else
            {
                <li><a href="~/@page.Address">@page.Title</a></li>
            }
        }
    </ul>
}
