@model System.Web.Mvc.HandleErrorInfo
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<div class="ghost">
    <div class="ghost_1">
        <h1>Ой...</h1>
    </div>

    <p>У нас такой страницы нет :(</p>

</div>